/* general styles */
html, body {
	height: 100%;
	width: 100%;
}

.navbar-light .navbar-brand{
	color: green;
}
.navbar-light {
	background: transparent;
	background-image: none;
	border-color: transparent;
	box-shadow: none;
}

.navbar-light .nav.navbar-nav li > a {
    color:  green;
}

.img-header {
	width: 100%;
	height: 50%;
}

.services{
	background-color: #306d9f;
    color: #ffffff;
    height: 100%
}

.team{
	background-color: #308d9f;
    color: #ffffff;
    height: 100%;
}

.careers{
	background-color: #664de3;
    color: #ffffff;
    height: 100%;
}

.contacts{
	background-color: #76ae11;
    color: #ffffff;
    height: 100%;
}

.no-padding{
  padding-left:0;
  padding-right:0;
}