/* general styles */
html, body {
	height: 100%;
	width: 100%;
	font-family: 'Poppins', sans-serif;
}

.navbar-light .navbar-brand{
	color: white;
}
.navbar-light {
	background: transparent;
	background-image: none;
	border-color: transparent;
	box-shadow: none;
}

.navbar-light .nav.navbar-nav li > a {
    color:  white;
}

.carousel,.carousel-item,.active{
   height:100%;
 }
.carousel-inner{
    height:100%;
}

.services{
	background-color: #306d9f;
    color: #ffffff;
    height: 100%
}

.team{
	background-color: #308d9f;
    color: #ffffff;
    height: 100%;
}

.careers{
	background-color: #664de3;
    color: #ffffff;
    height: 100%;
}

.contacts{
	background-color: #76ae11;
    color: #ffffff;
    height: 100%;
}

.no-padding{
  padding-left:0;
  padding-right:0;
}
