<hr>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>About Fortis Advisory&trade;</h4>
                <p>Lorem ipsum dolor sit amet, novum aliquam ut eum. Id antiopam dignissim est. Te mel autem neglegentur, graece indoctum democritum sed ea. No quo veritus argumentum, vel purto discere percipitur cu. Nec novum error delectus ne, nulla persecuti
                    in his. Pro solum legere quaestio id, noster referrentur ea usu. Ex mel aeque scripserit. Quo perpetua efficiendi consequuntur et. Purto wisi mnesarchum no per.</p>
            </div>
            <div class="col-md-offset-1 col-md-3">
                <p>Lorem ipsum dolor sit amet, novum aliquam ut eum. Id antiopam dignissim est. Te mel autem neglegentur, graece indoctum democritum sed ea. No quo veritus argumentum, vel purto discere percipitur cu.</p>
            </div>
            <div class="col-md-4">
                <h4>Blogroll</h4>
                <ul class="list-unstyled">
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Lorem ipsum dolor sit amet</li>
                </ul>
                <h4>Contact us</h4>
                <ul class="list-unstyled">
                    <li>Lorem Ipsum Avenue</li>
                    <li>+2547000000</li>
                    <li>+2547000000</li>
                    <li>info@fortisadvisory.com</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <p>
                    <small>Fortis Advisory Ltd</small>
                </p>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-md-offset-1">
                </div>
                <div class="col-md-4">
                    <p>
                        &copy; Fortis Advisory. All Rights Reserved
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                    </p>
                </div>
                <div class="col-md-5">
                    <p>
                        <a href="#">Privacy Policy</a> |<a href="#">Privacy Policy</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
