<div class="services">
	<h1 class="text-xs-center font-weight-bold">Our Services</h1>
	<hr>
	<div class="container">
		<div class="row text-xs-center">
			<div class="col-md-2">
				<span class="fa-stack fa-5x">
					<i class="fa fa-square-o fa-stack-2x"></i>
					<i class="fa fa-clipboard fa-stack-1x"></i>
				</span>
				<p>Governance</p>
			</div>
			<div class="col-md-2">
				<span class="fa-stack fa-5x">
					<i class="fa fa-square-o fa-stack-2x"></i>
					<i class="fa fa-road fa-stack-1x"></i>
				</span>
				<p>Public Sector Policy, management and reforms</p>
			</div>
			<div class="col-md-2">
				<span class="fa-stack fa-5x">
					<i class="fa fa-square-o fa-stack-2x"></i>
					<i class="fa fa-suitcase fa-stack-1x"></i>
				</span>
				<p>Trade Development</p>
			</div>
			<div class="col-md-2">
				<span class="fa-stack fa-5x">
					<i class="fa fa-square-o fa-stack-2x"></i>
					<i class="fa fa-hospital-o fa-stack-1x"></i>
				</span>
				<p>Health Sector Policy management and development</p>
			</div>
			<div class="col-md-2">
				<span class="fa-stack fa-5x">
					<i class="fa fa-square-o fa-stack-2x"></i>
					<i class="fa fa-building-o fa-stack-1x"></i>
				</span>
				<p>Enterprise development</p>
			</div>
			<div class="col-md-2">
				<span class="fa-stack fa-5x">
					<i class="fa fa-square-o fa-stack-2x"></i>
					<i class="fa fa-sitemap fa-stack-1x"></i>
				</span>
				<p>Organisation development</p>
			</div>
		</div>
	</div>
</div>