<div class="team">
<h1 class="text-xs-center font-weight-bold">The Team</h1>
	<hr>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
			<div class="ih-item circle effect10 top_to_bottom"><a href="#">
        <div class="img"><img src="https://hd.unsplash.com/photo-1443180236447-432ea00e6ead" alt="img"></div>
        <div class="info">
          <h3>CEO</h3>
          <p>Lorem ipsum dolor sit amet</p>
        </div></a></div>
		</div>
		<div class="col-md-7 text-xs-center">
			<p>
				Lorem ipsum dolor sit amet, nisl mollis gloriatur his ex, et has dolor graecis. Est ad mucius abhorreant, tacimates pertinax salutatus vix te. Oratio periculis ei sed, eu solet nemore abhorreant eam. Rebum viris placerat vim ut, id nam elit exerci, virtute explicari accusamus ne cum. Qui feugait accusamus ad, vocibus officiis ei usu, ei persius probatus pertinax quo. <br>
			</p>
			<a class="btn btn-outline-warning" href="#" role="button">Read More...</a>
		</div>
		<div class="col-md-2">
			<span class="fa-stack fa-lg">
  <i class="fa fa-circle-o fa-stack-2x"></i>
  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
</span>
<span class="fa-stack fa-lg">
  <i class="fa fa-circle-o fa-stack-2x"></i>
  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
</span>
<span class="fa-stack fa-lg">
  <i class="fa fa-circle-o fa-stack-2x"></i>
  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
</span>
		</div>
		</div>
		<hr>

		<div class="row">
		<div class="col-md-2">
			<span class="fa-stack fa-lg">
  <i class="fa fa-circle-o fa-stack-2x"></i>
  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
</span>
<span class="fa-stack fa-lg">
  <i class="fa fa-circle-o fa-stack-2x"></i>
  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
</span>
<span class="fa-stack fa-lg">
  <i class="fa fa-circle-o fa-stack-2x"></i>
  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
</span>
		</div>
			
		<div class="col-md-7 text-xs-center">
			<p>
				Lorem ipsum dolor sit amet, nisl mollis gloriatur his ex, et has dolor graecis. Est ad mucius abhorreant, tacimates pertinax salutatus vix te. Oratio periculis ei sed, eu solet nemore abhorreant eam. Rebum viris placerat vim ut, id nam elit exerci, virtute explicari accusamus ne cum. Qui feugait accusamus ad, vocibus officiis ei usu, ei persius probatus pertinax quo. <br>
			</p>
			<a class="btn btn-outline-warning" href="#" role="button">Read More...</a>
		</div>

		<div class="col-md-3">
			<div class="ih-item circle effect10 top_to_bottom"><a href="#">
        <div class="img"><img src="https://hd.unsplash.com/photo-1441123694162-e54a981ceba5" alt="img"></div>
        <div class="info">
          <h3>CEO</h3>
          <p>Lorem ipsum dolor sit amet</p>
        </div></a></div>
		</div>
		</div>
		<hr>

		<div class="row">
			<div class="col-md-3">
			<div class="ih-item circle effect10 top_to_bottom"><a href="#">
        <div class="img"><img src="https://hd.unsplash.com/photo-1444658293155-105ae40f8278" alt="img"></div>
        <div class="info">
          <h3>CEO</h3>
          <p>Lorem ipsum dolor sit amet</p>
        </div></a></div>
		</div>
		<div class="col-md-7 text-xs-center">
			<p>
				Lorem ipsum dolor sit amet, nisl mollis gloriatur his ex, et has dolor graecis. Est ad mucius abhorreant, tacimates pertinax salutatus vix te. Oratio periculis ei sed, eu solet nemore abhorreant eam. Rebum viris placerat vim ut, id nam elit exerci, virtute explicari accusamus ne cum. Qui feugait accusamus ad, vocibus officiis ei usu, ei persius probatus pertinax quo. <br>
			</p>
			<a class="btn btn-outline-warning" href="#" role="button">Read More...</a>
		</div>
		<div class="col-md-2">
			<span class="fa-stack fa-lg">
  <i class="fa fa-circle-o fa-stack-2x"></i>
  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
</span>
<span class="fa-stack fa-lg">
  <i class="fa fa-circle-o fa-stack-2x"></i>
  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
</span>
<span class="fa-stack fa-lg">
  <i class="fa fa-circle-o fa-stack-2x"></i>
  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
</span>
		</div>
		</div>
		<hr>
	</div>
</div>
